exclude:
  - .github
  - .gitignore
  - .idea
  - assets/css/main.css
  - Gemfile
  - Gemfile.lock
  - Procfile
  - README.md
  - node_modules
  - package-lock.json
  - package.json
  - postcss.config.js
  - tailwind.config.js
  - yarn.lock
