---
---

<!DOCTYPE html>
<html class="scroll-smooth">
<head>
  <meta charset="utf-8">
  <title>{{ site.data.copy.title }} - {{ site.data.copy.subtitle }} - {{ site.data.products[0].name }}</title>
  <link rel="stylesheet" href="assets/css/tailwind.css">
  <meta name="viewport" content="width=device-width">
</head>
<body class="font-serif">
<div class="relative">
  <section class="absolute bottom-0 top-0 left-0 right-0 section h-screen pointer-events-none" id="home"></section>
  {% include _partials/header.html %}
  <div class="h-[calc(40vh-var(--mobile-navigation-height))] sm:h-[calc(40vh-var(--navigation-height))]"></div>

  {% for page_name in site.data.pages %}
    <section
      class="section flex col h-screen pt-[var(--mobile-navigation-total-height)] sm:pt-[var(--navigation-total-height)] container mx-auto px-[2vw]"
      id="{{ page_name }}"
    >
      {% include _pages/{{ page_name }}.html %}
    </section>
  {% endfor %}
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/simple-scrollspy/2.4.1/simple-scrollspy.min.js"
  integrity="sha512-NNb5TgmE+7PHedvAWwPKZ/ukCGJciTHZ23ghPriEeEfcGySDBm9zIrjaXp/WNAUcVYhi5XhJ1rHveDKR35CInw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>>
<script src="assets/javascript/newsletter_subscribe_form.js"></script>
<script src="assets/javascript/scroll_spy.js"></script>
</body>
</html>
