<div class="flex flex-col sm:flex-row gap-16 sm:gap-16 lg:gap-32 items-center justify-center max-h-full">
  <div class="sm:w-2/10 flex items-center justify-center object-contain">
    <img
      src="assets/images/bio.jpg"
      alt="Charlotte Swensson - biografie"
      class="max-h-[min(50vh,55vw)] -scale-x-100 -rotate-8 shadow-[10px_0_20px_0_rgba(60,60,60,0.8)]"
    >
  </div>

  <div class="sm:w-8/10">
    <p class="text-[22px] sm:text-[27px] lg:text-[32px]">
      {{ site.data.copy.biography || newline_to_br }}
    </p>
  </div>
</div>
