<div class="flex flex-col md:flex-row gap-2 sm:gap-8 lg:gap-16 items-start w-full">
  <!--      <div class="lg:w-6/10 flex items-center h-full gap-8">-->
  <div class="w-1/2 sm:w-2/10 mx-auto sm:mx-0 flex justify-center items-start object-contain shrink">
    <img
      src="assets/images/boek.jpg"
      alt="Charlotte Swensson - contact"
      class="max-h-[min(40vh,55vw)] shadow-[10px_10px_20px_0_rgba(60,60,60,0.8)]"
    >
  </div>

  <div class="sm:w-8/10 text-[17px] sm:text[22px] lg:text-[27px] px-2 grow">
    <h2 class="font-theme text-[37px] md:text-[47px] lg:text-[55px]">Het Kruispunt</h2>

    <p class="mb-2 sm:mb-[min(24px,3vh)]">Wat gebeurt er als liefde doorslaat in controle?</p>

    <p class="mb-2 sm:mb-[min(24px,3vh)]">Na een zwaar verlies proberen Sara en David hun leven opnieuw op te bouwen. Met de geboorte van hun
      dochter Zaya lijkt de rust eindelijk terug. Maar tussen Sara, haar schoonmoeder Marian en haar vriendin
      Noor sluipt iets naar binnen.</p>

    <p class="mb-2 sm:mb-[min(24px,3vh)]">Wat begint als zorg en bezorgdheid, verandert langzaam in macht, schuld en gevaar.</p>

    <p>Drie vrouwen, één gezin — en een grens die niemand op tijd ziet aankomen.</p>
  </div>
  <!--      </div>-->

  <div class="lg:w-4/10 flex flex-col items-center hidden">
    <h2 class="text-[50px]">Recencies</h2>
    <ul class="flex flex-col gap-4 mx-auto w-[300px] text-[27px] sm:text[32px] lg:text-[37px]">
      <li>
        <a
          class="border-1 border-black inline-block rounded-2xl text-center w-full"
          href="javascript:void(0)"
        >hebban</a>
      </li>

      <li>
        <a
          class="border-1 border-black inline-block rounded-2xl text-center w-full"
          href="javascript:void(0)"
        >goodreads</a>
      </li>
    </ul>
  </div>
</div>
