name: Build and Deploy

on:
  pull_request:
    branches: [master]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '.ruby-version'
          bundler-cache: true
      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
          cache: 'yarn'
          cache-dependency-path: 'yarn.lock'
      - run: |
          bundle install
          yarn install
          yarn build
